@model User

<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="~/img/@Model.UserImage" class="img-fluid" />
        </div>
    </div>

    <div class="col-md-10">
        <div class="bg-white p-2">
            <h5>@Model.UserName @Model.UserSurname</h5>
            <hr />
            <div id="posts">
                <h5 class="my-4">Yayınlanan İçerikler</h5>
                <ul class="list-group">
                    @foreach(var item in @Model.Posts)
                    {
                        <li class="list-group-item"><i class="bi bi-caret-right-fill"></i><a href="/posts/details/@item.PostUrl">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div id="comments">
                <h5 class="my-4">Yorumlar</h5>
                <ul class="list-group">
                    @foreach(var item in Model.Comments)
                    {
                        <li class="list-group-item"><i class="bi bi-chat-right-text"></i> @item.CommentContent - [@item.Post.Title]</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
    


